*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Comic Neue", cursive;
}
.screen{
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
        width: 50%;
        height: 70%;
        border: 2px solid red;
        background-color: orange;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;

}
#dice{
    width: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pressforYourPlay{
    padding:1rem;
    font-size: 1rem;
    background-color: rgb(218, 198, 163);
    border-radius: 2rem;
    font-weight: bold;
}
#pressforYourPlay:active{
    background-color: yellowgreen;
}
#TwistForUser{
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}